{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{% block title %}{{ title }}{% endblock title %}</title>


</head>
<body>
{% block content %}
<div id="preloder">
    <div class="loader"></div>
</div>

<div class="main-site-warp">
    {% block sidebar %}
    {% include 'include/sidebar.html' %}
    {% endblock sidebar %}

    <div class="site-content-warp">
        {% block left_side %}
        {% include 'include/left_side.html' %}
        {% endblock left_side %}
        <div class="page-section about-page">
            <div class="about-section" style="margin-left:30px;">
                {% autoescape off %}
                <div class="row m-0 milestones">
                    {% for dari in dariler %}
                    <div class="alert alert-secondary">
                        <h3>{{ dari.name }}</h3>
                        <p>{{ dari.description|truncatechars:100 }}</p>
                        <a href="{% url 'daridetails' dari.slug %}" class="btn btn-warning">Толығырақ</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'dariler-update' dari.slug %}"
                           class="btn btn-info">Өңдеу</a>

                        <a href="{% url 'dariler-delete' dari.slug %}" class="btn btn-danger">Өшіру</a>
                        <a href="{% url 'dari-create' %}" class="btn btn-primary">Дәрішөп қосу</a>
                        {% endif %}
                    </div>
                    {% endfor %}

                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock content %}
</body>
</html>