{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{% block title %}{{ title }}{% endblock title %}</title>

</head>
<body>
{% block content %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Main section start -->
<div class="main-site-warp">
    {% block sidebar %}
    {% include 'include/sidebar.html' %}
    {% endblock sidebar %}
    <div class="site-content-warp">
        {% block left_side %}
        {% include 'include/left_side.html' %}
        {% endblock left_side %}
        <!-- Page start -->
        <div class="page-section">
            <div class="hero-section">
                <div class="hero-scroll">
                    <div class="hero-track">
                        <div class="hs-item set-bg" style="margin-left:30px;"
                             data-setbg="{% static 'img/hero/11.jpg' %}">
                            <div class="hs-info">
                                <a href="{% url 'dariler' %}">
                                    <h5>Дәрішөптер туралы</h5>
                                    <p>Ақпарат алу</p>
                                    <img src="{% static 'img/arrow-right.png' %}" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="hs-item set-bg" data-setbg="{% static 'img/hero/22.webp' %}">
                            <div class="hs-info">
                                <a href="{% url 'scientists' %}">
                                    <h5>Зерттеуші ғалымдар туралы</h5>
                                    <p>Ақпарат алу</p>
                                    <img src="{% static 'img/arrow-right.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="hs-item set-bg" data-setbg="{% static 'img/hero/3.png' %}">
                            <div class="hs-info">
                                <a href="{% url 'scientist_or_dari' %}">
                                    <h5>Ақпаратты</h5>
                                    <p>Өзгерту, жаңарту, өшіру</p>
                                    <img src="{% static 'img/arrow-right.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end -->
    </div>

</div>
{% endblock content %}
</body>
</html>
