{% extends "base.html" %}

{% load i18n %}

{% block title %}Шығу{% endblock %}

{% block content %}

<div class="main-site-warp">
    {% block sidebar %}
    {% include 'include/sidebar.html' %}
    {% endblock sidebar %}

    <div class="site-content-warp">
        <div style="margin-left:50px;">
        <h1>Шығу</h1>

        <p>Шыныменде шығасызба?</p>
        {% block left_side %}
        {% include 'include/left_side.html' %}
        {% endblock left_side %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">Шығу</button>
        </form>
            </div>

    </div>
</div>


{% endblock %}
