{% load static %}
<div class="main-sidebar">
    <div class="mb-warp">
        <a href="{% url 'home' %}" class="site-logo">
            <h2  style= "font-size:60px">Darilik Shopter</h2>
            <p>Ақпараттық жүйесі</p>
        </a>
        <div class="about-info">
            <h2>My name is Jalyn Tursynbek.</h2>
            <p>Қазақ даласы түрлі дәрі шөптерге толы. Қазіргі цифрландыру кезеңінде еліміздің байлығы болып табылатын
                дәрі шөптердің отақ базасы биология ғылымының ғалымдары үшін өте маңызды. Қазір еліміз бойынша мұндай
                дәрі шөптердінің электронды деректер қоры жоқ. Соңғы елімізде дәрі шөптерді зерттеу қарқынды дамуда.
                Әл-фараби атындағы Қазақ ұлттық университетінде Биомедицина ғылыми зерттеу орталы құрылып, осы саланы
                зерттеуде. </p>
        </div>
        <ul class="contact-info">
            <li>Алматы қ., Әл-Фараби даңғылы 71</li>
            <li>8707-111-11-11</li>
            <li><a href="mailto:altyntamyr@gmail.com">altyntamyr@gmail.com</a></li>
        </ul>

    </div>
</div>